<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0"
          package="com.qh.half">

    <uses-sdk android:minSdkVersion="16"/>
    <application android:name=".HalfApplication"
            android:icon="@drawable/ic_launcher" android:label="@string/app_name"
            android:theme="@style/ViewPageTab">
        <activity
                android:label="@string/app_name" android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity
                android:name=".ui.HomeActivity"
                android:theme="@style/ViewPageTab"
                ></activity>
        <activity android:name=".ui.PublistHalfActivity"></activity>
        <meta-data
                android:name="UMENG_APPKEY" android:value="53bb556d56240bcff207ec6c"/>

        <activity
                android:configChanges="orientation|keyboard" android:launchMode="singleTask"
                android:name="com.umeng.socialize.view.ShareActivity" android:noHistory="true"
                android:theme="@style/Theme.UMDialog" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
                android:label="@string/app_name" android:name="com.facebook.LoginActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
                android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true"
                android:name=".wxapi.WXEntryActivity" android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
                android:configChanges="orientation|keyboard" android:launchMode="singleTask"
                android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1101736944"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
                android:configChanges="orientation|navigation|keyboardHidden"
                android:name="com.renn.rennsdk.oauth.OAuthActivity"/>
    </application>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>
